.env
bot_session.session*
__pycache__/
*.pyc
*.pyo
*.pyd
/dist
/build
/eggs
/.eggs
/sdist
/wheels
*.egg-info/
.egg-info/
.installed.cfg
venv/
.venv/
env/
.env/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.env*
*.log
.ipynb_checkpoints/
bot_*/
old
logs/
info.json
