libmagic==1.0
nltk==3.8.1
Quart==0.19.5
beautifulsoup4==4.12.3
chromadb==0.4.24
mattsollamatools==0.0.21
ollama==0.1.8
python_magic==0.4.27
Requests==2.31.0
telethon==1.34.0
langchain_community
langchain
gpt4all
openpyxl
pandas